.App {
  background-color: #1e1e2f;
}

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure body and html take full height */
html, body {
  height: 100%;
  width: 100%;
  background-color: #1e1e2f; /* Optional: match navbar/Home background */
  font-family: 'Arial', sans-serif;
}
